script-exe/Scripts/python.exe
script-exe/Scripts/pip.exe
script-exe/Scripts/pip.exe
script-exe/Scripts/pip3.12.exe
script-exe/Scripts/pip3.exe
script-exe/Scripts/python.exe
script-exe/Scripts/pythonw.exe
script-exe/Scripts/deactivate.bat
script-exe/Scripts/Activate.ps1
script-exe/Scripts/activate.bat
script-exe/Scripts/activate
script-exe/pyvenv.cfg